# ROS 2 Build Folders
build/
install/
log/

# Python caching
__pycache__/
*.pyc
*.pyo
*.pyd

# Workspace-specific configuration
.catkin_tools/
.vscode/
.idea/

# OS-specific files
.DS_Store
thumbs.db

# Compiled C++ files (if not using colcon)
*.o
*.so
*.a